# Project 2: Data Import - Working with Web APIs and JSON (Movies Dataset)

## Importing Data from JSON files

In [ ]:
import pandas as pd
import json

In [ ]:
with open("blockbusters.json") as f:
    data =json.load(f)

In [ ]:
data

In [ ]:
type(data)

In [ ]:
len(data)

In [ ]:
data[0]

In [ ]:
df = pd.DataFrame(data)
df

In [ ]:
#df = pd.read_json("blockbusters.json")
#df

In [ ]:
df.info()

In [ ]:
df.genres[0]

In [ ]:
df.belongs_to_collection[0]

In [ ]:
pd.json_normalize(data = data, sep ="_")

In [ ]:
pd.json_normalize(data = data, sep = "_").genres[0]

In [ ]:
pd.json_normalize(data = data, record_path = "genres", meta = ["title", "id"], record_prefix = "genre_")

## Working with APIs and JSON (Part1)

In [26]:
api_key = "api_key=d74d93d3d378e911d291bb12828f8518"

In [33]:
import pandas as pd
import requests
pd.options.display.max_columns = 30

In [34]:
movie_id = 140607

In [35]:
movie_api = "https://api.themoviedb.org/3/movie/{}?"
movie_api

'https://api.themoviedb.org/3/movie/{}?'

In [36]:
url = movie_api.format(movie_id) + api_key
url

'https://api.themoviedb.org/3/movie/140607?api_key=d74d93d3d378e911d291bb12828f8518'

In [39]:
r = requests.get(url)
r

In [41]:
data = r.json()

In [45]:
pd.Series(data)

adult                                                                False
backdrop_path                             /k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg
belongs_to_collection    {'id': 10, 'name': 'Star Wars Collection', 'po...
budget                                                           245000000
genres                   [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
homepage                 http://www.starwars.com/films/star-wars-episod...
id                                                                  140607
imdb_id                                                          tt2488496
original_language                                                       en
original_title                                Star Wars: The Force Awakens
overview                 Thirty years after defeating the Galactic Empi...
popularity                                                           73.19
poster_path                               /wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg
production_companies     [{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    2015-12-15
revenue                                                         2068223624
runtime                                                                136
spoken_languages         [{'english_name': 'English', 'iso_639_1': 'en'...
status                                                            Released
tagline                                      Every generation has a story.
title                                         Star Wars: The Force Awakens
video                                                                False
vote_average                                                          7.32
vote_count                                                           17178
dtype: object

In [48]:
df = pd.Series(data).to_frame().T
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,73.19,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.32,17178

In [49]:
pd.json_normalize(data, sep = "_")

,adult,backdrop_path,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path
0,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,73.19,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.32,17178,10,Star Wars Collection,/gq5Wi7i4SF3lo4HHkJasDV95xI9.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg

In [58]:
pd.json_normalize(data = data, record_path = "production_companies", meta = "title")

,id,logo_path,name,origin_country,title
0,1,/o86DbpburjxrqAzEDhXZcyE8pDb.png,Lucasfilm Ltd.,US,Star Wars: The Force Awakens
1,11461,/p9FoEt5shEKRWRKVIlvFaEmRnun.png,Bad Robot,US,Star Wars: The Force Awakens

## Working with APIs and JSON (Part2)

In [59]:
discover_api = "https://api.themoviedb.org/3/discover/movie?"

In [72]:
query = "&primary_release_date.gte=2020-01-01&prmary_release_date.lte=2020-02-29&page=2"

In [73]:
url = discover_api+api_key+query

In [68]:
data = requests.get(url).json()

In [69]:
pd.DataFrame(data)

,page,results,total_pages,total_results
0,1,"{'adult': False, 'backdrop_path': '/698FjyzLdp...",3708,74141
1,1,"{'adult': False, 'backdrop_path': '/qTkJ6kbTeS...",3708,74141
2,1,"{'adult': False, 'backdrop_path': '/odJ4hx6g6v...",3708,74141
3,1,"{'adult': False, 'backdrop_path': '/p1F51Lvj3s...",3708,74141
4,1,"{'adult': False, 'backdrop_path': '/nW5fUbldp1...",3708,74141
5,1,"{'adult': False, 'backdrop_path': '/AfvIjhDu9p...",3708,74141
6,1,"{'adult': False, 'backdrop_path': '/wcKFYIiVDv...",3708,74141
7,1,"{'adult': False, 'backdrop_path': '/5PnypKiSj2...",3708,74141
8,1,"{'adult': False, 'backdrop_path': '/6d1mHKcozT...",3708,74141
9,1,"{'adult': False, 'backdrop_path': '/3EaCqZdbY2...",3708,74141
10,1,"{'adult': False, 'backdrop_path': '/wNQpfAZkyS...",3708,74141
11,1,"{'adult': False, 'backdrop_path': '/jazlkwXfw4...",3708,74141
12,1,"{'adult': False, 'backdrop_path': '/h6XfgbzQEV...",3708,74141
13,1,"{'adult': False, 'backdrop_path': '/egoyMDLqCx...",3708,74141
14,1,"{'adult': False, 'backdrop_path': '/ocUp7DJBIc...",3708,74141
15,1,"{'adult': False, 'backdrop_path': '/wUwizGzbTk...",3708,74141
16,1,"{'adult': False, 'backdrop_path': '/33qGtN2GpG...",3708,74141
17,1,"{'adult': False, 'backdrop_path': '/mTupUmnuww...",3708,74141
18,1,"{'adult': False, 'backdrop_path': '/t9K8ycUBCp...",3708,74141
19,1,"{'adult': False, 'backdrop_path': '/t0mwKhUDa6...",3708,74141

In [71]:
pd.DataFrame(data["results"]).head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/698FjyzLdpgXmUSr63LaRwblTmx.jpg,"[12, 28, 878]",507086,en,Jurassic World Dominion,"Four years after Isla Nublar was destroyed, di...",12339.130,/kAVRgw7GgK1CfYEJq8ME6EvRIgU.jpg,2022-06-01,Jurassic World Dominion,False,7.0,2008
1,False,/qTkJ6kbTeSjqfHCFCmWnfWZJOtm.jpg,"[10751, 16, 12, 35, 14]",438148,en,Minions: The Rise of Gru,A fanboy of a supervillain supergroup known as...,10171.619,/wKiOkZTN9lUUUNZLmtnwubZYONg.jpg,2022-06-29,Minions: The Rise of Gru,False,7.5,482
2,False,/odJ4hx6g6vBt4lBWKFD1tI8WS4x.jpg,"[28, 18]",361743,en,Top Gun: Maverick,After more than thirty years of service as one...,9026.760,/62HCnUTziyWcpDaBO2i1DX17ljH.jpg,2022-05-24,Top Gun: Maverick,False,8.4,1676
3,False,/p1F51Lvj3sMopG948F5HsBbl43C.jpg,"[28, 12, 14]",616037,en,Thor: Love and Thunder,After his retirement is interrupted by Gorr th...,6265.822,/pIkRyD18kl4FhoCNQuWxWu5cBLM.jpg,2022-07-06,Thor: Love and Thunder,False,6.7,1275
4,False,/nW5fUbldp1DYf2uQ3zJTUdachOu.jpg,"[16, 878, 12, 28, 10751]",718789,en,Lightyear,Legendary Space Ranger Buzz Lightyear embarks ...,6339.095,/ox4goZd956BxqJH6iLwhWPL9ct4.jpg,2022-06-15,Lightyear,False,7.3,946